Update RFC references in s2s authorization

**Link to problem area**: https://spec.matrix.org/v1.7/server-server-api/#request-authentication

**Issue**
RFC 7235 is obsoleted by Section 11.4 of RFC 9110
RFC 7230 is obsoleted by Section 5.6.2 of RFC 9110
